{% extends "base.html" %} {% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="m-0"></h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Surat Balasan</li>
          <li class="breadcrumb-item active">Magang</li>
        </ol>
      </div>
    </div>
  </div>
</section>


<section class="content">
  <div class="container-fluid">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Format Balasan Surat Magang</h3>
      </div>
      <div class="card-body">

        <form method="post">
        {{form.hidden_tag()}}
          <div class="form-row">
            <div class="form-group col-md-6">
              {{form.tanggal_mulai.label}}
              {{form.tanggal_mulai(class="form-control")}}
              <small class="form-text text-muted"><b>Contoh:</b> 22 Juni 2000 </small>
            </div>
             <div class="form-group col-md-6">
              {{form.tanggal_surat.label}}
              {{form.tanggal_surat(class="form-control")}}
              <small class="form-text text-muted"><b>Contoh:</b> 22 Juni 2000 </small>
            </div>
          </div>
          <div class="form-group">
            {{form.peserta.label}}
            {{form.peserta(class="form-control")}}
            <small class="form-text text-muted"><b>- </b>Untuk memisahkan antara nama dan jurusan gunakan tanda ></small>
            <small class="form-text text-muted"><b>- </b>Gunakan koma , untuk memisahkan jika peserta magang lebih dari satu (1)</small>
            <small class="form-text text-muted"><b>Contoh </b>Samsul Rahmatullan > Teknik Informatika, Sultan Arif Rahman > Teknik Lingkungan</small>
          </div>
          <div class="form-row"> 
           <div class="form-group col-md-6">
              {{form.lama_kegiatan.label}}
              {{form.lama_kegiatan(class="form-control")}}
              <small class="form-text text-muted"><b>Contoh:</b> 3 (Tiga) Hari </small>
            </div>
            <div class="form-group col-md-3">
              {{form.sifat_surat.label}}
              {{form.sifat_surat(class="form-control")}}
            </div>
            <div class="form-group col-md-3">
              {{form.jumlah_lampiran.label}}
              {{form.jumlah_lampiran(class="form-control")}}
              <small class="form-text text-muted"><b>Contoh:</b> 2 (Dua) Lembar </small>
            </div>
          </div>
          {{form.submit(class="btn btn-primary")}}
        </form>

      </div>
    </div>
  </div>
</section>



{# <section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <form method="post">
          {{form.hidden_tag()}}
          <div class="from-group">
            {{form.kepada.label}}
            {{form.kepada(class="form-control")}}
          </div>
          <div class="from-group">
            {{form.tujuan.label}}
            {{form.tujuan(class="form-control")}}
          </div>
          <div class="from-group">
            {{form.jumlah_hari.label}}
            {{form.jumlah_hari(class="form-control")}}
          </div>
          <div class="from-group">
            {{form.tanggal_mulai.label}}
            {{form.tanggal_mulai(class="form-control")}}
          </div>

          {{form.submit}}
        </form>
      </div>
    </div>
  </div>
</section> #}

{% endblock content %}
