<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	  {{ toastr.include_jquery() }}
    {{ toastr.include_toastr_css() }}
    {{ toastr.message() }}
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{ url_for('static', filename="img/logo.png") }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="login/vendor/bootstrap/css/bootstrap.min.css") }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="login/fonts/font-awesome-4.7.0/css/font-awesome.min.css") }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css") }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="login/vendor/animate/animate.css") }}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="login/vendor/css-hamburgers/hamburgers.min.css") }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="login/vendor/animsition/css/animsition.min.css") }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="login/vendor/select2/select2.min.css") }}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="login/vendor/daterangepicker/daterangepicker.css") }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="login/css/util.css") }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="login/css/main.css") }}">
<!--===============================================================================================-->
</head>
<body style="background-color: #666666;">
	
	<div class="limiter">
		    <div class="container-login100">
			    <div class="wrap-login100">
				    <form class="login100-form" method="post">
						{{form.hidden_tag()}}
						<img class="tengah" src="{{ url_for('static', filename="login/images/logoaplikasi.png") }}" width="220px" loading="lazy">
					 <div class="wrap-input100">
						{{form.username(class="input100")}}
						<span class="focus-input100"></span>
						{{form.username.label(class="label-input100")}}
						{% for error in form.username.errors %}
							<span style="color: red;">[{{error}}]</span>
						{% endfor %}
					 </div>
				    <div class="wrap-input100">
						{{form.password(class="input100")}}
						<span class="focus-input100"></span>
						{{form.password.label(class="label-input100")}}
						{% for error in form.password.errors %}
							<span style="color: red;">[{{error}}]</span>
						{% endfor %}
					  </div>
					 <div class="flex-sb-m w-full p-t-3 p-b-32">
						<div class="contact100-form-checkbox">
							{{form.remember_me(class="input-checkbox100")}}
							{{form.remember_me.label(class="label-checkbox100")}}
							{% for error in form.remember_me.errors %}
								<span style="color: red;">[{{error}}]</span>
							{% endfor %}
						</div>				
					</div>
					<div class="container-login100-form-btn">
					{{form.submit(class="login100-form-btn")}}
					</div>
					
				 </form>

				
				 <div class="login100-more" style="background-image: url('{{ url_for('static', filename="login/images/bg-01.jpg") }}');">
				 </div>
				 
				</div>
		
		     </div>
		 
	</div>
	
	

	
	
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename="login/vendor/jquery/jquery-3.2.1.min.js") }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename="login/vendor/animsition/js/animsition.min.js") }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename="login/vendor/bootstrap/js/popper.js") }}"></script>
	<script src="{{ url_for('static', filename="login/vendor/bootstrap/js/bootstrap.min.js") }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename="login/vendor/select2/select2.min.js") }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename="login/vendor/daterangepicker/moment.min.js") }}"></script>
	<script src="{{ url_for('static', filename="login/vendor/daterangepicker/daterangepicker.js") }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename="login/vendor/countdowntime/countdowntime.js") }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for("static", filename="login/js/main.js") }}"></script>

    {{ toastr.include_toastr_js() }}

</body>
</html>