{% extends "base.html" %} {% block style %}
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css"
/>
{% endblock style %} {% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="m-0">Manage User</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Manage User</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#tambahUser"
        >
          Tambah User
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="tambahUser"
          tabindex="-1"
          aria-labelledby="tambahUserModal"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <form method="post" enctype="multipart/form-data">
                {{form.hidden_tag()}}
                <div class="modal-header">
                  <h5 class="modal-title" id="tambahUserModal">
                    Tambah User Baru
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    {{form.username.label}}
                    {{form.username(class="form-control")}}
                  </div>
                  <div class="form-group">
                    {{form.email.label}} {{form.email(class="form-control")}}
                  </div>
                  <div class="form-group">
                    {{form.password.label}}
                    {{form.password(class="form-control")}}
                  </div>
                  <div class="form-group">
                    {{form.confirm_password.label}}
                    {{form.confirm_password(class="form-control")}}
                  </div>
                  <div class="form-group">
                    {{form.nama_lengkap.label}}
                    {{form.nama_lengkap(class="form-control")}}
                  </div>
                  <div class="form-group">
                    {{form.jabatan.label}}
                    {{form.jabatan(class="form-control")}}
                  </div>
                  <div class="form-group">
                    {{form.no_telpon.label}}
                    {{form.no_telpon(class="form-control")}}
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>

                  {{form.submit(class="btn btn-primary")}}
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- End Modal -->
        <div class="mt-4">
          <table id="data" class="table table-striped mt-4">
            <thead>
              <tr>
                <th>{{form.username.label}}</th>
                <th>{{form.email.label}}</th>
                <th>Nama Lengkap</th>
                <th>Jabatan</th>
                <th>No Telpon</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
              {% for user in all_user %}
              <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.nama }}</td>
                <td>{{ user.jabatan }}</td>
                <td>{{ user.no_telpon }}</td>
                <td>
                  <a
                    href="{{ url_for('users.edit_profile_admin', id=user.id) }}"
                    >Edit</a
                  >
                  <a href="{{ url_for('users.delete_user', id=user.id) }}"
                    >Delete</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %} {% block scripts %}
<script>
  $(document).ready(function () {
    $("#data").DataTable();
  });
</script>
{% endblock scripts %}
