{% extends "base.html" %} {% block content %}

<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Registration</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">User Registration</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

{#
<section class="content">
  <div class="container-fluid">
    <form method="post">
      {{form.hidden_tag()}}
      <div>{{ form.email.label }} {{form.email}}</div>
      <div>{{ form.username.label }} {{form.username}}</div>
      <div>{{form.password.label}} {{form.password}}</div>
      <div>{{form.confirm_password.label}} {{form.confirm_password}}</div>
      {{form.submit}}
    </form>
  </div>
</section>
#}

<section class="content">
  <div class="container-fluid">
    {# content begin #}
    <div class="card">
      <div class="card-body">
        <form method="">
          <div class="form-row">
            <div class="form-group col-md-6">
              {{form.username.label}} {{form.username(class="form-control")}}
            </div>
            <div class="form-group col-md-6">
              {{form.email.label}} {{form.email(class="form-control")}}
            </div>
          </div>
          <div class="form-group">
            {{form.password.label}} {{form.password(class="form-control")}}
          </div>
          <div class="form-group">
            {{form.confirm_password.label}}
            {{form.confirm_password(class="form-control")}}
          </div>
          {{form.submit(class="btn btn-primary")}}
        </form>
      </div>
    </div>

    {# endcontent #}
  </div>
</section>
{% endblock content %}
