{% extends "base.html" %} {% block style%}
<link rel="stylesheet" href="{{ url_for('static', filename="plugins/dataTables/datatables.min.css") }}">
{% endblock style%} {% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        {# <h1 class="m-0">Disposisi</h1> #}
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a href="{{ url_for('main.index') }}">Home</a>
          </li>
          <li class="breadcrumb-item">Arsip</li>
          <li class="breadcrumb-item active">Disposisi</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="card card-danger">
      <div class="card-header">
        <h3 class="card-title">Surat Belum di Disposisi</h3>
      </div>
      <div class="card-body">
        <div class="mt-4">
          <table class="table table-striped mt-4 display">
            <thead>
              <tr>
                <th>Nomor Surat</th>
                <th>Dari Instansi</th>
                <th>Perihal</th>
                <th>Dokumen</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
              {% for surat in surat_masuk %}
              <tr>
                <td>{{ surat.nomor }}</td>
                <td>{{ surat.asal }}</td>
                <td>{{ surat.perihal }}</td>
                <td>
                  <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group mr-2" role="group">
                      <a
                        href="{{ url_for('main.open_surat_masuk_dokumen', id=surat.id) }}"
                        class="btn-sm btn-success"
                        >Lihat Dokumen</a
                      >
                    </div>
                  </div>
                </td>
                <td>
                  <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group mr-2" role="group">
                      <a
                        href="{{ url_for('main.diteruskan', id=surat.id) }}"
                        class="btn-sm btn-info"
                        >Teruskan Ke</a
                      >
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="card card-warning">
      <div class="card-header">
        <h3 class="card-title">Riwayat Disposisi</h3>
      </div>
      <div class="card-body">
        <div class="mt-4">
          <table class="table table-striped mt-4 display">
            <thead>
              <tr>
                <th>Nomor Surat</th>
                <th>Dari Instansi</th>
                <th>Perihal</th>
                <th>Dokumen</th>
                <th>Disposisi</th>
              </tr>
            </thead>
            <tbody>
              {% for surat in history %}
              <tr>
                <td>{{ surat.nomor }}</td>
                <td>{{ surat.asal }}</td>
                <td>{{ surat.perihal }}</td>
                <td>
                  <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group mr-2" role="group">
                      <a
                        href="{{ url_for('main.open_surat_masuk_dokumen', id=surat.id) }}"
                        class="btn-sm btn-success"
                        >Lihat Dokumen</a
                      >
                    </div>
                  </div>
                </td>
                <td>
                  {{ surat.disposisi_ke }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %} {% block scripts %}
<script src="{{ url_for('static', filename="plugins/dataTables/datatables.min.js") }}"></script>
<script>
  $(document).ready(function () {
    $("table.display").DataTable();
  });
</script>
{% endblock scripts %}
