{% extends "base.html" %} {% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        {# <h1 class="m-0">Edit Surat Masuk</h1> #}
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Edit Surat Masuk</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Edit Surat Masuk</h3>
      </div>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data">
          {{form.hidden_tag()}}
          <div class="form-row">
            <div class="form-group col-md-6">
              {{form.no_surat.label}} {{form.no_surat(class="form-control")}} {%
              for error in form.no_surat.errors %}
              <div class="invalid-feedback">{{error}}</div>
              {% endfor %}
            </div>
            <div class="form-group col-md-6">
              {{form.asal.label}} {{form.asal(class="form-control")}} {% for
              error in form.asal.errors %}
              <div class="invalid-feedback">{{ error }}</div>
              {% endfor %}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              {{form.perihal.label}} {{form.perihal(class="form-control")}} {% for
              error in form.perihal.errors %}
              <div class="invalid-feedback">{{ error }}</div>
              {% endfor %}
            </div>
            <div class="form-group col-md-6">
              {{form.rak.label}} {{form.rak(class="form-control")}}
            </div>
          </div>
          {# tanggal #}
          <div class="form-row">
            <div class="form-group col-md-6">
              {{form.tanggal_surat.label}}
              {{form.tanggal_surat(class="form-control")}} {% for error in
              form.tanggal_surat.errors %}
              <div class="invalid-feedback">{{ error }}</div>
              {% endfor %}
            </div>
            <div class="form-group col-md-6">
              {{form.tanggal_diterima.label}}
              {{form.tanggal_diterima(class="form-control")}} {% for error in
              form.tanggal_diterima.errors %}
              <div class="invalid-feedback">{{ error }}</div>
              {% endfor %}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              {{form.disposisi.label}} {{form.disposisi(class="form-control")}}
              {% for error in form.disposisi.errors %}
              <div class="invalid-feedback">{{ error }}</div>
              {% endfor %}
            </div>
            <div class="form-group col-md-6">
              {{ form.lampiran.label }}
              {{form.lampiran(class="form-control-file")}} {% for error in
              form.lampiran.errors %}
              <div class="invalid-feedback">{{ error }}</div>
              {% endfor %}
            </div>
          </div>
          {{form.submit(class="btn btn-primary")}}
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
