{% extends "base.html" %} {% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        {# <h1 class="m-0">Edit Surat Keluar</h1> #}
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Edit Sub Bidang</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Edit Sub Bidang</h3>
      </div>
      <div class="card-body">

        <form method="post">
          {{form.hidden_tag()}}
          <div class="form-group">
            {{form.alias.label}}
            {{form.alias(class="form-control")}}
          </div>
          <div class="form-group">
            {{form.nama_sub_bidang.label}}
            {{form.nama_sub_bidang(class="form-control")}}
          </div>
          <div class="form-group">
            {{form.kepala_sub_bidang.label}}
            {{form.kepala_sub_bidang(class="form-control")}}
          </div>
          {{form.submit(class="btn btn-primary")}}
        </form>

      </div>
    </div>
  </div>
</section>

{% endblock content %}
