{% extends "base.html" %} {% block style%} <link rel="stylesheet" href="{{
url_for('static', filename="plugins/dataTables/datatables.min.css") }}"> {%
endblock style%} {% block content %}

<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        {# <h1 class="m-0">Feedback</h1> #}
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a href="{{ url_for('main.index') }}">Home</a>
          </li>
          <li class="breadcrumb-item">Arsip</li>
          <li class="breadcrumb-item active">Feedback</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="card card-danger">
      <div class="card-header">
        <h3 class="card-title">Surat Masuk, Harus Segera Ditindaklanjuti</h3>
      </div>
      <div class="card-body">
        <div class="mt-4">
          <table id="" class="table table-striped mt-4 display">
            <thead>
              <tr>
                <th>No Surat</th>
                <th>Perihal</th>
                <th>Asal</th>
                <th>Dokumen</th>
                <th>Pesan</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
              {% for surat in surat_masuk %}
              <tr>
                <td>{{ surat.nomor }}</td>
                <td>{{ surat.perihal }}</td>
                <td>{{ surat.asal }}</td>
                <td>
                  <div class="btn-group mr-2" role="group">
                    <a
                      href="{{ url_for('main.open_surat_masuk_dokumen', id=surat.id) }}"
                      class="btn-sm btn-success"
                      >Lihat Dokumen</a
                    >
                  </div>
                </td>
                <td>{{ surat.pesan }}</td>
                <td>
                  {# <a
                    href="{{ url_for('main.edit_feedback', id=surat.id) }}"
                    class="btn-sm btn-primary"
                    >Sudah Ditindak?</a
                  > #}

                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#konfidmasi">
                    Konfirmasi
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="konfidmasi" tabindex="-1" aria-labelledby="konfirmasiModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Konfirmasi</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Apakah surat dengan {{surat.nomor}} asal {{surat.asal}} sudah di tindaklanjuti?
                        </div>
                        <div class="modal-footer">
                          <a href="#close" class="btn btn-sm btn-secondary" data-dismiss="modal">Tidak</a>
                          <a href="{{ url_for('main.edit_feedback', id=surat.id) }}" class="btn btn-sm btn-primary">Ya</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="card card-warning">
      <div class="card-header">
        <h3 class="card-title">Riwayat Tindakan</h3>
      </div>
      <div class="card-body">
        <div class="mt-4">
          <table id="" class="table table-striped mt-4 display">
            <thead>
              <tr>
                <th>No Surat</th>
                <th>Perihal</th>
                <th>Asal</th>
                <th>Dokumen</th>
                <th>Pesan</th>
              </tr>
            </thead>
            <tbody>
              {% for surat in surat_masuk_confirm %}
              <tr>
                <td>{{ surat.nomor }}</td>
                <td>{{ surat.perihal }}</td>
                <td>{{ surat.asal }}</td>
                <td>
                  <div class="btn-group mr-2" role="group">
                    <a
                      href="{{ url_for('main.open_surat_masuk_dokumen', id=surat.id) }}"
                      class="btn-sm btn-success"
                      >Lihat Dokumen</a
                    >
                  </div>
                </td>
                <td>{{ surat.pesan }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock content %} {% block scripts %}
<script src="{{ url_for('static', filename="plugins/dataTables/datatables.min.js") }}"></script>
<script>
  $(document).ready(function () {
    $("table.display").DataTable();
  });
</script>
{% endblock scripts %}
