{% extends "base.html" %} {% block content %} {#
<h2>surat keluar</h2>

<form method="post" enctype="multipart/form-data">
  <div>
    {{ form.hidden_tag() }}
    <p>{{form.no_surat.label}}: {{form.no_surat}}</p>
    <p>{{form.jenis_surat.label}}: {{form.jenis_surat}}</p>
    <p>{{form.ringkasan.label}}: {{form.ringkasan}}</p>
    <p>{{form.tanggal_dikeluarkan.label}}: {{form.tanggal_dikeluarkan}}</p>
    <p>{{form.tujuan.label}}: {{form.tujuan}}</p>
    <p>{{form.lampiran.label}}: {{form.lampiran}}</p>
    {{form.submit}}
  </div>
</form>

<div>
  <table border="1">
    <tr>
      <th>No Surat</th>
      <th>Jenis Surat</th>
      <th>Ringkasan</th>
      <th>Tanggal Dikeluarkan</th>
      <th>Tujuan</th>
      <th>Status</th>
      <th>Lampiran</th>
      <th>Aksi</th>
    </tr>

    {% if surat_keluar | length < 1 %}
    <tr>
      <td>Surat kosong</td>
    </tr>
    {% else %}
    <tr>
      {% for surat in surat_keluar %}
      <td>{{ surat.nomor }}</td>
      <td>{{ surat.jenis }}</td>
      <td>{{ surat.ringkasan }}</td>
      <td>{{ surat.tanggal_dikeluarkan }}</td>
      <td>{{ surat.tujuan }}</td>
      <td>{{ surat.status }}</td>
      <td>{{ surat.nama_file }}</td>
      <td><a href="#edit">Edit</a> | <a href="#delete">Delete</a></td>
    </tr>
    {% endfor %} {% endif %}
  </table>
</div>
#}

<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Surat Keluar</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Surat Keluar</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
          <div class="card card-primary card-outline">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <h5 class="m-0">Featured</h5>
            </div>
            <div class="card-body">
              <h6 class="card-title">Special title treatment</h6>
              <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h5 class="m-0">Featured</h5>
            </div>
            <div class="card-body">
              <h6 class="card-title">Special title treatment</h6>
              <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
