{% extends "base.html" %} {% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="m-0">Surat Balasan</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Surat Balasan</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Jenis Surat</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form method="post">
                {{jenis_surat_form.hidden_tag()}}
                <div class="card-body">
                  <div class="form-group">
                    {{jenis_surat_form.jenis.label}}
                    {{jenis_surat_form.jenis(class="form-control")}}
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  {{jenis_surat_form.submit(class="btn btn-primary")}}
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>


                   <div class="row">
                    <div class="col-sm-6">
                      <!-- text input -->
                      <div class="form-group">
                        {{magang_form.perihal.label}}
                        {{magang_form.perihal(class="form-control", disabled=True)}}
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        {{magang_form.tujuan.label}}
                        {{magang_form.tujuan(class="form-control")}}
                      </div>
                    </div>
                     <div class="col-sm-2">
                      <div class="form-group">
                        {{magang_form.jumlah_hari.label}}
                        {{magang_form.jumlah_hari(class="form-control")}}
                      </div>
                    </div>
                  </div>
                  </div>
                  <div class="card-footer">
                  {{ magang_form.submit(class="btn btn-primary") }}
                  {# <a href="#generate" class="btn btn-primary">Generate</a> #}
                </div>
                </form>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>          
          {% endif %}
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>

{% endblock content %}
