{% extends "base.html" %} {% block style%}
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css"
/>
{% endblock style%} {% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="m-0">Surat Keluar</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a href="{{ url_for('main.index') }}">Hom e</a>
          </li>
          <li class="breadcrumb-item">Arsip</li>
          <li class="breadcrumb-item active">Surat Keluar</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <!-- Button trigger modal -->
        {% if current_user.can(Permission.ARSIP) %}

        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#tambahSurat"
        >
          Tambah Surat
        </button>
        {% endif %}

        <!-- Modal -->
        <div
          class="modal fade"
          id="tambahSurat"
          tabindex="-1"
          aria-labelledby="tambahSuratModal"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <form method="post" enctype="multipart/form-data">
                {{form.hidden_tag()}}
                <div class="modal-header">
                  <h5 class="modal-title" id="tambahSuratModal">
                    Tambah Surat Keluar
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    {{form.no_surat.label}}
                    {{form.no_surat(class="form-control")}}
                  </div>
                  <div class="form-group">
                    {{form.jenis_surat.label}}
                    {{form.jenis_surat(class="form-control")}}
                  </div>
                  <div class="form-group">
                    {{form.ringkasan.label}}
                    {{form.ringkasan(class="form-control")}}
                  </div>
                  <div class="form-group">
                    {{form.tanggal_dikeluarkan.label}}
                    {{form.tanggal_dikeluarkan(class="form-control")}}
                  </div>
                  <div class="form-group">
                    {{form.tujuan.label}} {{form.tujuan(class="form-control")}}
                  </div>

                  <div class="form-group">
                    {{form.lampiran.label}}
                    {{form.lampiran(class="form-control-file")}}
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>

                  {{form.submit(class="btn btn-primary")}}
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- End Modal -->
        <div class="mt-4">
          <table id="data" class="table table-striped mt-4">
            <thead>
              <tr>
                <th>{{form.no_surat.label}}</th>
                <th>{{form.jenis_surat.label}}</th>
                <th>{{form.ringkasan.label}}</th>
                <th>{{form.tanggal_dikeluarkan.label}}</th>
                <th>{{form.tujuan.label}}</th>
                <th>{{form.lampiran.label}}</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
              {% for surat in surat_keluar %}
              <tr>
                <td>{{ surat.nomor }}</td>
                <td>{{ surat.jenis }}</td>
                <td>{{ surat.ringkasan }}</td>
                <td>{{ surat.tanggal_dikeluarkan }}</td>
                <td>{{ surat.tujuan }}</td>
                <td>{{ surat.nama_file }}</td>
                <td>
                  <a href="#edit">Edit</a> |
                  <a href="{{ url_for('main.delete_surat', id=surat.id) }}"
                    >Delete</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %} {% block scripts %}
<script>
  $(document).ready(function () {
    $("#data").DataTable();
  });
</script>
{% endblock scripts %}
