{% extends "base.html" %} {% block style%} <link rel="stylesheet"
href="{{url_for('static', filename="plugins/dataTables/datatables.min.css") }}">
{% endblock style%} {% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        {# <h1 class="m-0">Bidang</h1> #}
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a href="{{ url_for('main.index') }}">Home</a>
          </li>
          <li class="breadcrumb-item active">Tambah Bidang</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Bidang</h3>
      </div>
      <div class="card-body">
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-info"
          data-toggle="modal"
          data-target="#tambahBidang"
        >
          <i class="bi bi-plus-circle-fill"></i> Tambah Bidang
        </button>
        <!-- Modal -->
        <div
          class="modal fade"
          id="tambahBidang"
          tabindex="-1"
          aria-labelledby="tambahBidangModal"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <form method="post">
                {{form.hidden_tag()}}
                <div class="modal-header">
                  <h5 class="modal-title" id="tambahBidangModal">
                    Tambah Bidang
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    {{form.kode.label}} {{form.kode(class="form-control")}}
                    {% for error in form.kode.errors %}
                      <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                  </div>
                  <div class="form-group">
                    {{form.nama.label}} {{form.nama(class="form-control")}}
                    {% for error in form.nama.errors %}
                      <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>

                  {{form.submit(class="btn btn-primary")}}
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- End Modal -->

        <div class="mt-4">
          <table id="data" class="table table-striped mt-4">
            <thead>
              <tr>
                <th>{{form.kode.label}}</th>
                <th>{{form.nama.label}}</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
              {% for b in bidang %}
              <tr>
                <td>{{ b.kode }}</td>
                <td>{{ b.nama }}</td>
                <td>
                  <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group mr-2" role="group">
                      <a
                        href="{{ url_for('main.edit_bidang', id=b.id) }}"
                        class="btn-sm btn-primary"
                        ><i class="bi bi-pencil-square"></i> Edit</a
                      >
                    </div>
                    <div class="btn-group mr-2" role="group">
                      <button type="button" class="btn-sm btn-danger" data-toggle="modal" data-target="#deleteDataModal{{ b.id }}">
                        <i class="bi bi-trash-fill"></i> Delete
                      </button>
                    </div>

                     {# modal #}
                  <div class="modal fade" id="deleteDataModal{{ b.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Menghapus Data</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            Apakah anda yakin untuk menghapus data
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn-sm btn-secondary" data-dismiss="modal">Tidak</button>
                            <a
                              href="{{ url_for('main.delete_bidang', id=b.id) }}"
                              class="btn-sm btn-danger"
                              >Delete</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                    {# end modal #}

                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %} {% block scripts %}
<script src="{{ url_for('static', filename="plugins/dataTables/datatables.min.js") }}"></script>
<script>
  $(document).ready(function () {
    $("#data").DataTable();
  });
</script>
{% endblock scripts %}
