{% extends "base.html" %} {% block style%} <link rel="stylesheet" href="{{
url_for('static', filename="plugins/dataTables/datatables.min.css") }}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
 {% endblock style%} {% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        {# <h1 class="m-0">Aktifitas Harian</h1> #}
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a href="{{ url_for('main.index') }}">Home</a>
          </li>
          <li class="breadcrumb-item">Aktifitas</li>
          <li class="breadcrumb-item active">Aktifitas Harian</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Aktifitas Harian</h3>
      </div>
      <div class="card-body">
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-info"
          data-toggle="modal"
          data-target="#tambahAktifitas"
        >
          <i class="bi bi-plus-circle-fill"></i> Tambah Aktivitas
        </button>


        <!-- Modal -->
        <div
          class="modal fade"
          id="tambahAktifitas"
          tabindex="-1"
          aria-labelledby="tambahAktifitasModal"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <form method="post">
                {{form.hidden_tag()}}
                <div class="modal-header">
                  <h5 class="modal-title" id="tambahAktifitasModal">
                    Tambah Aktivitas
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    {{form.tanggal.label}} {{form.tanggal(autocomplete="off", class="form-control
                    disableFuturedate")}}
                    <!-- {% for error in form.tanggal.errors %} -->
                      <!-- <span style="color: red;">[{{ error }}]</span> -->
                    <!-- {% endfor %} -->
                  </div>
                  <div class="form-group">
                    {{form.kegiatan.label}}
                    {{form.kegiatan(class="form-control")}}
                    {% for error in form.kegiatan.errors %}
                      <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                  </div>
                  <div class="form-group">
                    {{form.deskripsi.label}}
                    {{form.deskripsi(class="form-control")}}
                    {% for error in form.deskripsi.errors %}
                      <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                  </div>
                  <div class="form-group">
                    {{form.output.label}} {{form.output(class="form-control")}}
                    {% for error in form.output.errors %}
                      <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>

                  {{form.submit(class="btn btn-primary")}}
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- End Modal -->
        <div class="mt-4 table-responsive">
          <table id="data" class="table table-striped mt-4">
            <thead>
              <tr>
                <th>{{form.tanggal.label}}</th>
                <th>{{form.kegiatan.label}}</th>
                <th>{{form.deskripsi.label}}</th>
                <th>{{form.output.label}}</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
              {% for activity in daily_activity %}
              <tr>
                <td>{{ moment(activity.tanggal).format('MM/DD/YYYY') }}</td>
                <td>{{ activity.kegiatan }}</td>
                <td>{{ activity.deskripsi }}</td>
                <td>{{ activity.output }}</td>
                <td>
                  <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group mr-2" role="group">
                      <a href="{{ url_for('daily_activity.edit_activity', id=activity.id) }}" class="btn-sm btn-primary"><i class="bi bi-pencil-square"></i> Edit</a>
                    </div>
                    <div class="btn-group" role="group">
                      <button type="button" class="btn-sm btn-danger" data-toggle="modal" data-target="#deleteDataModal{{ activity.id }}">
                        <i class="bi bi-trash-fill"></i> Delete
                      </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="deleteDataModal{{ activity.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Menghapus Data</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            Apakah anda yakin untuk menghapus data
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn-sm btn-secondary" data-dismiss="modal">Tidak</button>
                            <a href="{{ url_for('daily_activity.delete_aktivity', id=activity.id) }}" class="btn-sm btn-danger">Iya</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    {# End Modal #}
                  
                  </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %} {% block scripts %}
<script src="{{ url_for('static', filename="plugins/dataTables/datatables.min.js") }}"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js"></script>
<script>
$(document).ready(function () {
      var currentDate = new Date();
      $('.disableFuturedate').datepicker({
      format: 'dd/mm/yyyy',
      autoclose:true,
      endDate: "currentDate",
      maxDate: currentDate
      }).on('changeDate', function (ev) {
        $(this).datepicker('hide');
      });
      $('.disableFuturedate').keyup(function () {
        if (this.value.match(/[^0-9]/g)) {
          this.value = this.value.replace(/[^0-9^-]/g, '');
        }
      });

      $("#data").DataTable();
  })
</script>
{% endblock scripts %}
