{% extends "base.html" %} 
{% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        {# <h1 class="m-0">Edit Aktivitas Harian</h1> #}
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Edit Aktivitas Harian</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="card card-warning">
      <div class="card-header">
        <h3 class="card-title">Edit Aktifitas Harian</h3>
      </div>
      <div class="card-body">
        <form method="post">
          {{form.hidden_tag()}}
          <div class="form-group">
            {{form.tanggal(autocomplete="off", class="form-control", disabled=True)}}
            {% for error in form.tanggal.errors %}
              <span style="color: red;">[{{error}}]</span>
            {% endfor %}
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              {{form.kegiatan.label}} {{form.kegiatan(class="form-control")|safe}}
              {% for error in form.kegiatan.errors %}
                <span style="color: red;">[{{error}}]</span>
              {% endfor %}
            </div>
            <div class="form-group col-md-6">
              {{form.deskripsi.label}} {{form.deskripsi(class="form-control")|safe}}
              {% for error in form.deskripsi.errors %}
                <span style="color: red;">[{{error}}]</span>
              {% endfor %}
            </div>
          </div>
          <button type="submit" class="btn btn-primary"><i class="bi bi-save2-fill"></i> Simpan</button>
        </form>
      </div>
    </div>
  </div>
</section>

{{ckeditor.load()}}

{% endblock content %}
