{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename="plugins/dataTables/datatables.min.css") }}">
{% endblock style %}
{% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        {# <h1 class="m-0">Rekap Bulanan</h1> #}
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Aktivitas Harian</a></li>
          <li class="breadcrumb-item active">Rekap Bulanan</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Rekap Bulanan</h3>
      </div>
      <div class="card-body">
        <form method="post">
          {{form.hidden_tag()}}
          <div class="form-row">
            <div class="form-group col-md-6">
              {{form.bulan.label}} {{form.bulan(class="form-control")}}
              {% for error in form.bulan.errors %}
                <span style="color: red;">[{{error}}]</span>
              {% endfor %}
            </div>
            <div class="form-group col-md-6">
              {{form.tahun.label}} {{form.tahun(class="form-control")}}
              {% for error in form.tahun.errors %}
                <span style="color: red;">[{{error}}]</span>
              {% endfor %}
            </div>
          </div>
          <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i> Cari</button>
        </form>
      </div>
    </div>
  </div>
</section>

{% if data %}
<section class="content">
  <div class="container-fluid">
    <div class="card card-warning">
      <div class="card-header">
        <h3 class="card-title">Rekap Bulanan</h3>
      </div>
      <div class="card-body">
      
        {% if current_user.can(Permission.LAPORAN_HARIAN) %}
          <a href="{{ url_for('daily_activity.cetak_rekap_bulanan') }}?bulan={{bulan}}&tahun={{tahun}}" class="btn btn-info"><i class="bi bi-printer-fill"></i> Cetak</a>
        {% endif %}

        <div class="mt-4 table-responsive">
          <table id="data" class="table table-striped mt-4">
            <thead>
              <tr>
                <th>No</th>
                <th>Kegiatan</th>
                <th>Tanggal</th>
                <th>Deskripsi</th>
                <th>Output</th>
              </tr>
            </thead>
            <tbody>
              {% for d in data  %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{ d.kegiatan }}</td>
                <td>{{ moment(d.tanggal).format('DD MMMM YYYY') }}</td>
                <td>{{ d.deskripsi }}</td>
                <td>{{ d.output }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% endblock content %}

{% block scripts %}
<script src="{{ url_for('static', filename="plugins/dataTables/datatables.min.js") }}"></script>
<script>
  $(document).ready(function () {
    $("table.display").DataTable();
  });
</script>
{% endblock scripts %}


