{% extends "base.html" %} {% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        {# <h1 class="m-0">Edit Profile [Admin]</h1> #}
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Edit User [Admin]</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Edit User [Admin]</h3>
      </div>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data">
          {{form.hidden_tag()}}
          <div class="form-row">
            <div class="form-group col-md-6">
              {{form.email.label}} {{form.email(class="form-control")}}
              {% for error in form.email.errors %}
                <span style="color: red;">[{{error}}]</span>
              {% endfor %}
            </div>
            <div class="form-group col-md-6">
              {{form.username.label}} {{form.username(class="form-control")}}
              {% for error in form.username.errors %}
                <span style="color: red;">[{{error}}]</span>
              {% endfor %}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              {{form.nama_lengkap.label}}
              {{form.nama_lengkap(class="form-control")}}
              {% for error in form.nama_lengkap.errors %}
                <span style="color: red;">[{{error}}]</span>
              {% endfor %}
            </div>
            <div class="form-group col-md-6">
              {{form.nip.label}}
              {{form.nip(class="form-control")}}
              {% for error in form.nip.errors %}
                <span style="color: red;">[{{error}}]</span>
              {% endfor %}
            </div>
          </div>
          <div class="form-group">
            {{form.bidang.label}} {{form.bidang(class="form-control")}}
            {% for error in form.bidang.errors %}
              <span style="color: red;">[{{error}}]</span>
            {% endfor %}
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              {{form.jabatan.label}} {{form.jabatan(class="form-control")}}
              {% for error in form.jabatan.errors %}
              <span style="color: red;">[{{error}}]</span>
              {% endfor %}
            </div>
            <div class="form-group col-md-4">
              {{form.role.label}} {{form.role(class="form-control")}}
              {% for error in form.role.errors %}
                <span style="color: red;">[{{error}}]</span>
              {% endfor %}
            </div>
            <div class="form-group col-md-2">
              {{form.no_telpon.label}} {{form.no_telpon(class="form-control")}}
              {% for error in form.no_telpon.errors %}
                <span style="color: red;">[{{error}}]</span>
              {% endfor %}
            </div>
            <div class="form-group col-md-3">
              {{form.foto.label}}
              {{form.foto(class="form-control-file")}}
            </div>
          </div>
          {{form.submit(class="btn btn-primary")}}
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
