{% extends "base.html" %}

{% block content %}
 <p>
      Hello, {% if current_user.is_authenticated %} {{ current_user.username }},
      you are {{current_user.role.name}} {% else %} Stranger {% endif %}
    </p>

    <ul>
      {% if current_user.is_authenticated %}
        <li><a href="{{ url_for("auth.logout") }}">Logout</a></li>
        <li><a href="{{ url_for("users.profile", username=current_user.username)}}">Profile</a></li>
        <li><a href="{{ url_for("main.arsip") }}">Arsip</a></li>
        <li><a href="{{url_for("auth.register")}}">Register new user</a></li>
      {% else %}
        <li><a href="{{ url_for("auth.login") }}">Login</a></li>
      {% endif %}
    </ul>
</p>
{% endblock content %}

