{% extends "base.html" %} 
{% block style%}
<link rel="stylesheet" href="{{ url_for('static', filename="plugins/dataTables/datatables.min.css") }}">
{% endblock style%}
{% block content %}
  
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Selamat Datang!</strong> {{ current_user.nama }}  Semoga harimu menyenangkan.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{ total_surat_masuk }}</h3>

              <p>Surat Masuk</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer"
            ></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3>{{total_surat_keluar}}</h3>

              <p>Surat Keluar</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer"
            ></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{ total_user }}</h3>

              <p>Pengguna Terdaftar</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer"
            ></a>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
<!-- /.content-wrapper -->

<section class="content">
  <div class="container-fluid">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Agenda</h3>
      </div>
      <div class="card-body">
        {% if current_user.can(Permission.ARSIP) %}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#tambahAgendaModal">
          <i class="bi bi-plus-circle-fill"></i> Tambah Agenda
        </button>
        {% endif %}

          <!-- Modal -->
          <div class="modal fade" id="tambahAgendaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Tambah Agenda</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="post">
                    {{agenda_form.hidden_tag()}}
                    <div class="form-group">
                      {{agenda_form.waktu_mulai.label}}
                      {{agenda_form.waktu_mulai(class="form-control")}}
                      <small class="form-text text-muted"><b>Contoh: </b>09:00</small>
                    </div>
                    <div class="form-group">
                      {{agenda_form.waktu_selesai.label}}
                      {{agenda_form.waktu_selesai(class="form-control")}}
                      <small class="form-text text-muted"><b>Contoh: </b>11:00</small>
                    </div>
                    <div class="form-group">
                      {{agenda_form.kegiatan.label()}}
                      {{agenda_form.kegiatan(class="form-control")}}
                    </div>
                    <div class="form-group">
                      {{agenda_form.tempat.label}}
                      {{agenda_form.tempat(class="form-control")}}
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    {{agenda_form.submit(class="btn btn-primary")}}
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="mt-4">
          <table id="data" class="table table-striped mt-4">
            <thead>
              <tr>
                <td>No</td>
                <td>Hari/Tanggal</td>
                <td>Waktu</td>
                <td>Agenda</td>
                <td>Tempat</td>
              </tr>
            </thead>
            <tbody>
              {% for agenda_harian in agenda  %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{agenda_harian.tanggal}}</td>
                <td>{{ agenda_harian.agenda }}</td>
                <td>{{ agenda_harian.waktu }}</td>
                <td>{{ agenda_harian.tempat }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

{% block scripts %}
<script src="{{ url_for('static', filename="plugins/dataTables/datatables.min.js") }}"></script>
<script>
  $(document).ready(function () {
    $("#data").DataTable();
  });
</script>
{% endblock scripts %}
